:root {
    /* Grayscale Palette */
    --grayscale-white: #FFFFFF;
    --grayscale-offWhite: #E5E5E5;
    --grayscale-inputBack: #F1F2F3;
    --grayscale-labels: #97999B;
    --grayscale-body: #626275;
    --grayscale-black: #000000;
    --grayscale-black50: rgba(0, 0, 0, 0.25);

    /* Primary Palette */
    --primary-IntusBlue: #4D7EF8;
    --primary-IntusBlue50: rgba(77, 126, 248, 0.5);
    --primary-IntusNavy: #062D8F;
}

.grayscale-white {
    color: var(--grayscale-white);
}

.grayscale-offWhite {
    color: var(--grayscale-offWhite);
}

.grayscale-inputBack {
    color: var(--grayscale-inputBack);
}

.grayscale-labels {
    color: var(--grayscale-labels);
}

.grayscale-body {
    color: var(--grayscale-body);
}

.grayscale-black {
    color: var(--grayscale-black);
}

.grayscale-black50 {
    color: var(--grayscale-black50);
}

.primary-IntusBlue {
    color: var(--primary-IntusBlue);
}

.primary-IntusBlue50 {
    color: var(--primary-IntusBlue50);
}

.primary-IntusNavy {
    color: var(--primary-IntusNavy);
}

body {
    background: var(--grayscale-offWhite);
}

h2 {
    font-weight: bold;
    font-size: 28px;
    font-family: Mulish, Arial, Helvetica, sans-serif;
  }
  
h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: Mulish, Arial, Helvetica, sans-serif;
}

body {
    font-weight: normal;
    font-size: 20px;
    font-family: Mulish, Arial, Helvetica, sans-serif;
}
  
.card {
    box-shadow: 0px 0.4px 0.4rem 0.06rem var(--grayscale-black50);
    border: none;
    border-radius: 10px;
}

.ppt-list-item:hover {
    box-shadow: 0 0.4px 0.4rem 0.06rem var(--grayscale-black50);
    outline: 2px solid var(--primary-IntusBlue50);
    border-radius: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}